body {
    font-family: Arial, sans-serif;
    margin: 0;
    padding: 0;
    background-color: #f8f8f8;
}

header {
    background-color: #333;
    color: #fff;
    text-align: center;
    padding: 20px 0;
}

h1 {
    margin: 0;
}

section {
    margin: 20px;
}

h2 {
    font-size: 24px;
    color: #333;
    margin-bottom: 10px;
}

ul {
    padding: 0;
}

li {
    list-style: none;
    margin-bottom: 10px;
}

a {
    text-decoration: none;
    color: #333;
    font-weight: bold;
    display: block;
    padding: 10px 20px; /* Sangría horizontal */
    margin: 0 20px; /* Sangría al margen blanco */
    background-color: #fff;
    border-radius: 5px;
    transition: background-color 0.3s ease;
}

a:hover {
    background-color: #f0f0f0;
}

footer {
    background-color: #333;
    color: #fff;
    text-align: center;
    padding: 10px 0;
    position: fixed;
    bottom: 0;
    width: 100%;
    line-height: 1; /* Elimina el interlineado */
}





